<%
  const navDefault = 'link fb ph3 pv3 pv4-ns bn black-60 hover-black';
  const navCurrent = 'link fb ph3 pv3 pv4-ns green bb bw2';
%>

<div class="flex-ns bb bw1 b--black-10 mb4 align-center">
  <header class="ph3">
    <h1 class="ph3 mt4 mt0-ns mb3 mb0-ns f3">
      <a href="/" class="black no-underline">
        <%= config.author %>
      </a>
    </h1>
  </header>
  <nav class="ttu f3-ns f4 flex ph3">
    <% for (const item of site.data.menu) { %>
      <% const css = page.tab === item.name ? navCurrent : navDefault; %>
      <a href="<%- item.url %>" class="<%= css %>"><%= item.name %></a>
    <% } %>
  </nav>
</div>
