<body class="flex flex-column min-vh-100">
  <div class="flex-auto">
    <div class="screen">
      <%- partial('_nav') %>
    </div>
    <main class="Resume ph4 mw7 center flex-auto">
    <h2 class="screen">Contact Information</h2>
    <div class="contact-info">
      <ul>
        <li class="name print"><h1>Brian Mock</h1></li>
        <li><a href="mailto:brian@mockbrian.com">brian@mockbrian.com</a></li>
        <li><a href="https://mockbrian.com">mockbrian.com</a></li>
        <li>503-409-7863</li>
      </ul>
    </div>
    <%- page.content %>
    </main>
  </div>
  <%- partial('_footer') %>
</body>
