// Using colors from the Google color guide:
// https://www.google.com/design/spec/style/color.html#color-color-palette

// Handy guide for Pygments cryptic CSS classes:
// https://gist.github.com/scotu/1272660

.highlight {
  background: #333;
  color: #fff;
  border: 1px solid transparent;

  .name,
  .keyword {
    color: #9eebcf;
  }

  .meta,
  .string,
  .regexp {
    color: #ffde37;
  }

  .attr,
  .built_in {
    color: #ddd;
  }

  .number {
    color: #E4A46C;
  }

  .comment {
    color: #96ccff;
  }
}
